:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --tertiary-text-color: #ffffff;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --tertiary-background-color: #f5f4fa;
  --border-bottom-color: #ececec;
  --border-projects-list-color: #eeeeee;
  --svg-icons-color: #afb1b8;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/** Точечные стили */
.notunderline {
  text-decoration: none;
}
.nolist {
  list-style: none;
}
.upcase {
  text-transform: uppercase;
}
.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}
/** Хедер */
.header-container {
  display: flex;
  align-items: center;
}
/** Навигация */
nav {
  display: flex;
}
/** Лого */
.nav-logo,
.logo-footer {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--logo-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.nav-logo {
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-first-part {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 93px;
  padding-left: 0;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/** Контакты */
.header-container .contacts {
  font-style: normal;
  margin-left: auto;
}
.site-contacts {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.site-contacts .item:not(:last-child) {
  margin-right: 50px;
}
.site-contacts .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.item-icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;

  fill: currentColor;
}
.item-icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;

  fill: currentColor;
}
.site-contacts .link:hover,
.site-contacts .link:focus,
.address-footerlist .address-footer-contacts:hover,
.address-footerlist .address-footer-contacts:focus {
  color: var(--accent-color);
}
/** Мейн */
/** Герой */
.hero {
  background-color: var(--secondary-background-color);
}
.content-hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--tertiary-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.hero-order {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  border: 0 solid transparent;
  min-width: 200px;

  color: var(--tertiary-text-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
/** Особенности */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.features-list .item {
  width: 270px;
}
.rectangle-icon {
  display: inline-flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  background-color: var(--tertiary-background-color);
}
.rectangle-icon .icon {
  width: 70px;
  height: 70px;
}
.features-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.features-list .text {
  margin-top: 0;
  margin-bottom: 0;
}
/** Работа */
.work {
  padding-bottom: 94px;
}
/** Работа, Команда */
.work-title,
.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.work-list,
.team-list,
.clients-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.work-list .content,
.team-list .photo {
  display: block;
  max-width: 100%;
  height: auto;
}
/** Команда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--tertiary-background-color);
}
.team-list .block {
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-background-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list-content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-list-content .member {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-list-content .position {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}
.team-list-social-links {
  display: flex;
  padding-left: 0;
  justify-content: center;
}
.team-list-social-links .item:not(:last-child) {
  margin-right: 10px;
}
.team-list-social-links .link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--svg-icons-color);
  background-color: var(--tertiary-text-color);
}
.team-list-social-links .link:hover,
.team-list-social-linkss .link:focus {
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
}
.team-list-social-links .link-icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}
/** Клиенты */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.clients-list .link {
  display: inline-flex;
  width: 170px;
  height: 90px;
  align-items: center;
  justify-content: center;
  border: 1px solid currentColor;
  border-radius: 4px;

  color: var(--svg-icons-color);
}
.clients-list .link:hover,
.clients-list .link:focus {
  color: var(--accent-color);
}
.clients-list .link-logo-1 {
  width: 44px;
  height: 49px;

  fill: currentColor;
}
.clients-list .link-logo-2 {
  width: 40px;
  height: 52px;

  fill: currentColor;
}
.clients-list .link-logo-3 {
  width: 41px;
  height: 43px;

  fill: currentColor;
}
.clients-list .link-logo-4 {
  width: 80px;
  height: 42px;

  fill: currentColor;
}
.clients-list .link-logo-5 {
  width: 59px;
  height: 47px;

  fill: currentColor;
}
.clients-list .link-logo-6 {
  width: 89px;
  height: 45px;

  fill: currentColor;
}
/** Футер */
footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-background-color);
}
.footer-flex {
  display: flex;
  align-items: baseline;
}
.logo-address {
  margin-right: 70px;
}
/** Лого  */
.logo-footer {
  display: block;
  margin-bottom: 20px;

  color: var(--tertiary-text-color);
}
.address-contacts {
  font-style: normal;
}
/** Адрес и контакты */
.address-contacts-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.address-contacts-list .item:not(:last-child) {
  margin-bottom: 9px;
}
.address-contacts-list .address,
.address-contacts-list .contacts {
  font-size: 14px;
  line-height: 1.71;
}
.address-contacts-list .address {
  margin-top: 0;
  color: var(--tertiary-text-color);
}
.address-contacts-list .contacts {
  color: var(--contacts-footer-color);
}
/** Соцсети */
.join-title {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--tertiary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.join-social-links {
  display: flex;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
  justify-content: space-between;
}
.join-social-links .item:not(:last-child) {
  margin-right: 10px;
}
.join-social-links .link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--tertiary-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.join-social-links .link:hover,
.join-social-links .link:focus {
  background-color: var(--accent-color);
}
.join-social-links .link-icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}
/*! Страница portfolio.html */
/** Хедер */
.border-bottom {
  border-bottom: 1px solid var(--border-bottom-color);
}
/** Мейн */
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
/** Фильтр */
.filter {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
}
.filter-button {
  margin-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  border: 0 solid transparent;
  min-width: 73px;

  background-color: var(--tertiary-background-color);
  color: var(--secondary-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  border: 0 solid transparent;

  color: var(--tertiary-text-color);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/** Проекты */
.projects-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.projects-list .item {
  width: 370px;
}
.projects-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.projects-list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.projects-list .link:hover,
.projects-list .link:focus {
  display: block;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-list .item-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.projects-list-description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid var(--border-projects-list-color);
  border-bottom: 1px solid var(--border-projects-list-color);
  border-right: 1px solid var(--border-projects-list-color);
}
.projects-list-description .title {
  margin-top: 0;
  margin-bottom: 4px;
  padding-bottom: 0;

  color: var(--secondary-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-list-description .text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}
